html {
  /* background-color: linear-gradient(slategrey, black); */
  background: linear-gradient(#e66465, #9198e5);
  /* background-image: url('images/city.png'); */
  /* background-color: #a9a9a9; */
  margin: 0;
}

body {
  /* background-image: url('images/henning-witzel-ukvgqriuOgo-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  min-height: 1vh;
  display: grid;
  grid-template-rows: 1fr;
  margin: 0;
  overflow: hidden;
}

/* TODO: Adjuest screen size for canvas */
canvas {
  width: 115%;
  height: 66%; 
}