html {
  /* background-color: linear-gradient(slategrey, black); */
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background-image: url('images/Guitar\ Poster\ 1.jpg'); */
  /* background-image: url('images/Guitar\ 3_4\ Band_\ Cheese\ Wheel.jpg'); */
  background-color: black;
  /* background-image: url('images/city.png'); */
  /* background-color: #a9a9a9; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  background-attachment: fixed;

  margin: 0;
}

body {
  /* background-image: url('images/henning-witzel-ukvgqriuOgo-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  min-height: 1vh;
  display: grid;
  grid-template-rows: 1fr;
  margin: 0;
  overflow: hidden;
}

/* Current settings are set up for the EPSON Pro LT300U THS Projector */
canvas {
  position: absolute;
  top: 300px;
  width: 116%;
  height: 75%; 
}