html {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  background-attachment: fixed;
  margin: 0;
}

body {
  min-height: 1vh;
  display: grid;
  grid-template-rows: 1fr;
  margin: 0;
  overflow: hidden;
}


/* Current settings are set up for the EPSON Pro LT300U THS Projector */
canvas {
  position: absolute;
  top: 300px;
  width: 116%;
  height: 75%; 
}

.logo {
  position: absolute;
  height: 50%;
  width: 80%;
  margin-top: 100px;
  right: 250px;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.hidden {
  display: none;
}